<head>
    
    <meta charset="utf-8">
   
    <title>cMSjS</title>
	
	<link rel="stylesheet" type="text/css" href="/design.css" />

</head>


<body>

</br>

<h1 class="centeredText">Credits</h1>

<p class="centeredText">Facilitation : Arthur SCHMITT</p>
<p class="centeredText">Sur une idée originale de Naomi Roth et Alexandre Deveaux</p>
<p class="centeredText">Code : Alexandre AMIEL</p>

</br>

<p class="centeredText">
<a href="/restart">Restart</a>

</p>


</body>